<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<link rel="stylesheet" href="./homepage.css" />
	<script type="text/javascript" src="./cartpage.js" defer></script>
</head>
<body>
	<%- include("partials/header.ejs"); %>
	<section class="productsection">
        <button class="my-cart product-details-btn" id="homepage">My Cart</button>
		<span class="section--heading">Your Cart</span>
		<div class="productslist" id="section--productslist">
		</div>
		<div class="section--changePage">
			<button class="section--load-more" id="section--load-previous">Previous Products</button>
			<button class="section--load-more" id="section--load-more">Load More Products</button>
		</div>
	</section>
</body>
</html>