<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<link rel="stylesheet" href="./change.css" />
</head>
<body>
    <h2>Change Password</h2>
	<div class="content">
        <form method="POST" action="/changepassword">
            <input type="password" name="new-password" placeholder="enter new password" />
            <input type="password" name="confirm-new-password" placeholder="confirm password" />
            <button type="submit">Change Password</button>
        </form>
        <h3 class="error">
            <%= error ? error : "" %>
        </h3>
        <% if(specialError) { %>
            <ul class="error">
                <li>contain 8 charachters</li>
                <li>contain 1 Uppercase</li>
                <li>contain 1 Lowercase</li>
                <li>contain 1  number</li>
            </ul>
        <% } %>
    </div>
</body>
</html>