<header style="background: linear-gradient(to right, #ccccb2, #757519); padding: 20px 0px; position: relative">
	<h3 style="text-align: center; margin-top: 6px; font-family: 'Segoe UI';">Hello, <%= username %></h3>
	<div style="float: right; position: absolute; right: 15px; top: 50%; transform: translate(0%, -50%); text-align: right;">
		<a href="/logout" style="color: white;">logout</a><br>
		<a href="/changepassword" style="color: white;">change password</a>
	</div>
</header>
